---
layout: front
---

<div class="featured">
  <a href="{{ site.data.front.featured.location }}">
    <img src="{{ site.data.front.featured.image }}" alt=""/>
    <div>
      <h3>{{ site.data.front.featured.title }}</h3>
      <span>{{ site.data.front.featured.trail }}</span>
    </div>
  </a>
</div>
<div class="current">
  <h2>Current</h2>
  <ol>
{% for story in site.data.front.current %}
    <li>
      <a href="{{ story.location }}">
        <img src="{{ story.image }}" alt=""/>
        <div>
          <h3>{{ story.title }}</h3>
          <span>{{ story.trail }}</span>
        </div>
      </a>
    </li>
{% endfor %}
  </ol>
</div><div class="latest">
  <h2>Latest</h2>
  <ol>
{% for story in site.data.front.latest %}
    <li>
      <a href="{{ story.location }}">
        <h3>{{ story.title }}</h3>
        <span>{{ story.trail }}</span>
        <time>{{ story.date }}</time>
      </a>
    </li>
{% endfor %}
  </ol>
</div>
