---
layout: front
---

<div class="featured">
  <a href="{{ site.data.front.featured.location }}">
    <img src="{{ site.data.front.featured.image }}" alt=""/>
    <div>
      <time>{{ site.data.front.featured.date }}</time>
      <h3>{{ site.data.front.featured.title }}</h3>
      <span>{{ site.data.front.featured.trail }}</span>
    </div>
  </a>
</div>
<div class="who-we-are">
  <a href="/who">
    <p>The Bureau of Investigative Journalism pursues research, investigations, reporting and analysis to help educate the public about the realities of power.</p>
  </a>
</div>
<div class="current">
  <h2>Current</h2>
  <ol>
{% for story in site.data.front.current %}
    <li>
      <a href="{{ story.location }}">
        <img src="{{ story.image }}" alt=""/>
        <div>
          <time>{{ story.date }}</time>
          <h3>{{ story.title }}</h3>
          <span>{{ story.trail }}</span>
        </div>
      </a>
    </li>
{% endfor %}
  </ol>
</div><div class="latest">
  <h2>Latest</h2>
  <ol>
{% for story in site.data.front.latest %}
    <li>
      <a href="{{ story.location }}">
        <time>{{ story.date }}</time>
        <h3>{{ story.title }}</h3>
        <span>{{ story.trail }}</span>
      </a>
    </li>
{% endfor %}
  </ol>
</div>
<div class="newsletter">
  <h2>Subscribe to the Bureau newsletter, and hear when our next story breaks.</h2>
  <form action="//tbij.us1.list-manage.com/subscribe/post?u=0592afb78c924d61727f4da3c&amp;id=a56e5b1680" method="post">
    <input type="email" name="EMAIL" placeholder="Enter your email address"/>
    <button type="submit">Sign up</button>
  </form>
</div>
