<h1><a href="/"><img src="logo.png" alt="{{ site.title }}"/></a></h1>

<nav>
  <label for="menu">Menu</label>
  <input id="menu" type="checkbox"/>
  <ul>
    <li><a href="/current-investigations">Investigations</a></li>
    <li><a href="/category/projects/drones">Drone War</a></li>
    <li><a href="/comment">Opinion</a></li>
    <li><a href="/who">About us</a></li>
    <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=4BCGUEN6DK7WL" class="donate">Donate to us</a></li>
  </ul>
</nav>
